<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skelebob</title>
</head>
<body>
    <h1>skelebob 💀</h1>
    <hr>
    <h2>Tiny Slider</h2>
    <p>A relatively stock installation of Tiny Slider</p>
    <div class="my-slider">
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/abc/1600x400" alt="picture"></div>
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/jack/1600x400" alt="picture"></div>
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/alice/1600x400" alt="picture"></div>
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/bob/1600x400" alt="picture"></div>
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/andy/1600x400" alt="picture"></div>
        <div class="slide"><img class="slide__img" src="https://source.unsplash.com/collection/mike/1600x400" alt="picture"></div>
      </div>
      <hr>
    <a href="page2.html">Page 2</a>
</body>
</html>