@import "./components/title.scss";
@import "./components/slider.scss";
@import "../../node_modules/tiny-slider/src/tiny-slider.scss";

$bone: #f5f5f5;

body {
    background: $bone;
    color: #161616;
}